[Unit]
Description=Ежемесячный docker system/builder prune

[Timer]
OnCalendar=monthly
Persistent=true
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
